.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  min-width: 220px;
  background-color: #ddd;
  transition:
    background-color var(--transition-bg-dark-mode-time),
    color var(--transition-bg-dark-mode-time);
}

.gamePlayersList {
  
}
[color-scheme="dark"] .aside {
  background-color: #333;
  color: #ddd;
}

.gamePlayersListTitle {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 800;
  font-family: consolas;
  color: #444;
}
[color-scheme="dark"] .gamePlayersListTitle {
  color: #ccc;
}

.gamePlayersListUl {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
  list-style: none;
}

.gamePlayersListLi {
  font-size: 20px;
  font-weight: 600;
  font-family: consolas;
}

.ownScoreTitle {
  font-size: 25px;
  margin: 10px 0;
}

.ownScore {
  font-size: 30px;
}
